/* reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* */
*{
    color: white;
}

/* clearfix */
clerfix::after{
    display: table;
    content: "";
clear: both;
}

nav {
    background-color: rgb(40, 40, 40);
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(8, 11, 18);
    color: white;
    height: 60px;
    align-items: center;
    float: right;
    width: calc( 100% - 175px);
}

/* nav div {
    justify-content: space-between;
} */

.song {
    background-color: blue;
    width: 200px;
}

.player {
    background-color: cadetblue;
    width: 400px;
}

.tools {
    background-color: coral;
    width: 200px;
}

.album {
    background-color: rgb(20, 25, 34);
    width: calc(100% - 175px);
    float: right;
}

/* playlist manager */
aside {
        background-color: black;
        width: 175px;
        position: fixed; /* fissato a sinistra*/
        left: 0;
        bottom: 60px;   /* altezza di nav e sezione top */
        top: 0px;
        /* deve rimanere sotto la nav*/
        z-index: -1; 
}

/* .content {
    display: flex;
    align-items: stretch;
} */


