/* reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* */
*{
    color: white;
    font-family: "montserrat","arial";
}

/* clearfix */
clerfix::after{
    display: table;
    content: "";
clear: both;
}

nav {
    background-color: rgb(40, 40, 40);
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(8, 11, 18);
    color: white;
    height: 60px;
    align-items: center;
    width: calc( 100% - 175px);
    position: fixed;
    right: 0;
}

/* nav div {
    justify-content: space-between;
} */

.song {
    /* per allineare con la barra laterale sinistra */
    width: 175px; 
}

.player {
    width: 400px;
}

.tools {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.album {
    background-color: rgb(20, 25, 34);
    width: calc(100% - 175px);
    float: right;
}

/* playlist manager */
aside {
        background-color: black;
        width: 175px;
        position: fixed; /* fissato a sinistra*/
        left: 0;
        bottom: 60px;   /* altezza di nav e sezione top */
        top: 0px;
        /* deve rimanere sotto la nav*/
        z-index: -1; 
        /* padding-left: 10px; */
        display: flex;
        flex-direction: column;
    }
    
aside img {
    width: 140px;
    padding: 5px;  
    vertical-align: bottom;
}
    
aside ul {
    padding-bottom: 5px;
    padding-top: 5px;
    overflow: auto;
    /* padding-left: 5px; */
}
    
aside li {
    /* background-color: greenyellow; */
    /* color: black; */
    margin-bottom: 5px;
    list-style: none;
}

aside a {
    text-decoration: none;
}

#home {
	border-left: 2px solid yellow;
}

.fa-plus {
        background-color: lightgray;
}
    
/* .content {
        display: flex;
    align-items: stretch;
} */

/* text class */

.gray {
    color: gray;
    font-size: 9px;
}

.img-placeholder {
    width: 150px;
    height: 150px;
    background-color: royalblue;
    margin: 3px;
}

.row {
    display: flex;
}

.tabs ul li {
    display: inline-block;
}

.tabs ul {
    list-style: none;
    text-align: center;
}

.upgrade-button {
        border: 1px solid white;
        border-radius: 25px;
        padding: 15px;
}

  
.controls {
    display: flex;
    justify-content: space-evenly;
    height: 50%;
    margin: 5px 75px;
    align-items: center;
}


.progress-song {
    display: flex;
    justify-content: space-evenly;
    height: 50%;
    font-size: 9px;
}

.song img {
    height: 40px;
}

.song {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.progress-bar {
    width: 20px;
    background-color: white;
    border-radius: 5px;
    height: 5px;
}

.progress-background {
    width: 100px;
    background-color: lightgray;
    border-radius: 5px;
    height: 5px;
}

.song-name p {
    font-size: 9px;
}

.progress-song .progress-background {
    width: 300px;
}

.controls i {
    padding: 5px;
}

#play-button {
	font-size: 30px;
}


ul img {
    width: 30px;
}

.playlist {
    /* background-color: rgb(55, 216, 55); */
    color: black;
}

/* media query */
@media screen and (max-width >= 576px) {
    /* togliere la navbar */

    /* sostituire con icone e dimensione */
}

